<% provide(:title, 'About') %>
<h1>About Email To Letters</h1>
<p>
Email to Letter was a project built by <a href="http://cjhudson.com">Chris Hudson</a> to understand Rails, Bootstrap, Stripe, and the printing & mailing API from Lob.com.
</p>

