<% provide(:title, 'About') %>
<h1>About Email To Letters</h1>
<p>
Email to Letters was a project built by <a href="http://cjhudson.com">Chris Hudson</a> to understand Rails, Bootstrap, Stripe, and the printing & mailing API from Lob.com.
</p>
<p>
The idea behind Email To Letters came from the want to build something new with the powerful web framework Rails. I want to say thanks to <a href="https://twitter.com/harryzhang">Harry Zhang</a> over @ Lob.com, <a href="https://twitter.com/dhh">DHH</a> the creator of Rails, the whole Stripe team, and <a href="https://twitter.com/mhartl">Michael Hartl</a> @ RailsTutorial.org. I honestly could not have built this without your help and support.
</p>

