<% provide(:title, 'Pricing') %>
<h1>Email To Letters Pricing</h1>
<div align="center">
<p><strong>Pricing should be fair and cost-effective.</strong></p>
<p>With that in mind, this is the pricing below:</p>
</div>
<br />
<div class="row">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	    <div class="panel panel-primary">
	        <div class="panel-heading">
	      	  <h3 class="text-center">Pricing</h3>
	        </div>
	        	 <div class="panel-body text-center">
					<p class="lead" style="font-size:40px"><strong>$2 / Page</strong></p>
				</div>
	      	        <ul class="list-group list-group-flush text-center">
						<li class="list-group-item"><i class="icon-ok text-danger"></i> No Commitment</li>
						<li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited letters</li>
						<li class="list-group-item"><i class="icon-ok text-danger"></i> My sincere grattitude</li>
					</ul>
	  		<div class="panel-footer">
				<%= link_to 'Get Started!', root_url, class: "btn btn-lg btn-block btn-danger" %> 
			</div>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>